@model Lawn_Mow_App.Models.WeatherForecast
@{
    ViewBag.Title = "WeatherForecast";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }

    .card-header:first-child {
        border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    }

    .card-header {
        padding: .75rem 1.25rem;
        margin-bottom: 0;
        background-color: rgba(0,0,0,.03);
        border-bottom: 1px solid rgba(0,0,0,.125);
    }

    .collapse:not(.show) {
        display: none;
    }

    .card-header[data-toggle="collapse"]:after {
        font-family: 'Glyphicons Halflings';
        content: "\e072"; /* "play" icon */
        position: absolute;
        color: #b0c5d8;
        font-size: 14px;
        line-height: 31px;
        right: 10px;
        /*top: calc(50% - 10px);*/
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .card-header[data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }
</style>

<div class="row">
    <div class="col-md-8 col-lg-offset-2" style="margin-top:25px;">
        <center>
            <h3 style="font-weight:bold;">7 Days Weather Forecast</h3>
        </center>
            @if (Model != null && Model.daily.Count() > 0)
            {
                <div style="margin-top: 25px;">
                    @for (var a = 0; a < Model.daily.Count(); a++)
                    {
                        var cls = "collapse" + a;
                        var dateTime = new System.DateTime(1970, 1, 1, 0, 0, 0, 0);
                        var day1 = dateTime.AddSeconds(Model.daily[a].dt);
                        <div class="card">
                            <div class="card-header collapsed form-inline" data-toggle="collapse" href="#@cls" style="cursor:pointer;font-size:20px;background: #e1e0e6;">
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <span style="font-weight:bold;"> @day1.ToString("ddd, MMM dd")</span>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <img src="http://openweathermap.org/img/w/@(Model.daily[a].weather[0].icon).png" style="height:35px;" />
                                    <span>@Model.daily[a].temp.day &#8451;</span>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <span style="font-size:15px;">@Model.daily[a].weather[0].description</span>
                                </div>
                            </div>
                            <div id="@cls" class="collapse" style=" border: 1px solid #626165;">
                                <div class="card-body">
                                    <table class="table table-bordered table-responsive" style="margin-bottom: 0px;">
                                        <tr>
                                            <td><b>Feels Like</b><br />@Model.daily[a].feels_like.day</td>
                                            <td><b>Night </b><br />@Model.daily[a].temp.night</td>
                                        </tr>
                                        <tr>
                                            <td><b>Humidity</b> <br /> @Model.daily[a].humidity &percnt;</td>
                                            <td><b>Pressure</b> <br /> @Model.daily[a].pressure</td>
                                        </tr>
                                        <tr>
                                            <td><b>Wind Speed </b> <br /> @Model.daily[a].wind_speed</td>
                                            <td><b>Wind Degree</b> <br /> @Model.daily[a].wind_deg</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <h4 style="font-weight:bold;margin-top:25px; color:red;">Something Went Wrong While Getting Weather Data</h4>
            }
    </div>
</div>